<!DOCTYPE html>
html lang="en"
    head
        meta charset="UTF-8"/
        meta name="viewport" content="width=device-width, initial-scale=1.0"/
        title Metaballs
        link rel="stylesheet" href="css/styles.css"/
    body 
        .frame
	        .center
		        .ball
                    - for i in (1..8)
                        div class="blubb-#{ i }"
                    - for i in (1..15)
                        div class="sparkle-#{ i }"
                        