$bezier: cubic-bezier(.21,.98,.6,.99);

.frame {
    position: absolute;
    background: #E56262;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 2px;
    box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
    color: #fff;
    .center {
        position: absolute;
        height: 220px;
        width: 220px;
        top: 90px;
        left: 90px;
        .dot-1 {
            position: absolute;
            z-index: 3;
            height: 30px;
            width: 30px;
            background-color: #fff;
            border-radius: 50%;
            top: 95px;
            left: 95px;
            animation: jump-jump-1 2s $bezier infinite alternate both;
        }
        .dot-2 {
            position: absolute;
            z-index: 2;
            width: 60px;
            height: 60px;
            background-color: #fff;
            top: 80px;
            left: 80px;
            border-radius: 50%;
            animation: jump-jump-2 2s $bezier infinite alternate both;
        }
        .dot-3 {
            position: absolute;
            z-index: 1;
            width: 90px;
            height: 90px;
            background-color: #fff;
            top: 65px;
            left: 65px;
            border-radius: 50%;
            animation: jump-jump-3 2s $bezier infinite alternate both;
        }
    }
}

@keyframes jump-jump-1 {
    0%,70%{
        box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.3);
        transform: scale(0);
    }
    100% {
        box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
        transform: scale(1);
    }
}

@keyframes jump-jump-2 {
    0%,40%{
        box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.3);
        transform: scale(0);
    }
    100% {
        box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
        transform: scale(1);
    }
}

@keyframes jump-jump-3 {
    0%,10%{
        box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.3);
        transform: scale(0);
    }
    100% {
        box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
        transform: scale(1);
    }
}
